body {
    background-color: #222;
    color: #eee;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

video {
    background-color: #000;
}
